<div class="form">
  <div style="text-align:center">
    <h1>
      Example Form
    </h1>
  </div>
  <app-dynamic-form [controls]="definitions" (submit)="submit($event)">
  </app-dynamic-form>
  <div class="margin-top">
    {{ form.value | json }}
  </div>
</div>
