body {
  margin: 0;
}

.full-width {
  width: 100%;
}

.margin-top {
  margin-top: 20px;
}

.margin-left {
  margin-left: 15px;
}

.form {
  margin-left: 15px;
  width: 700px;
  padding-left: 10px;
  margin-top: 15px;
}

label.list-label {
  color: grey;
}
